docs-footer-announcement {
  display: block;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;
  /*background-color: #333333;*/
  background-image: linear-gradient(56.45deg,#3e6dff 18.73%,#5cceff 99.13%);
  font-family: Inter,"Inter UI",Helvetica,Arial,sans-serif;
  box-shadow: 0 0 0 1px rgba(0,20,56,.06);
  color: #f4f5f8;
  transform: translateY(0);
  transition: transform 200ms ease;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

docs-footer-announcement.hidden {
  transform: translateY(100%);
}

@media (max-width: 768px) {
  docs-footer-announcement  {
    display: none;
  }
}

.footer-announcement {
  /*display: flex;*/
  /*align-items: center;*/
  /*padding-left: 16px;*/
}

.footer-announcement .footer-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
}

.footer-announcement p {
  text-align: center;
}

.footer-announcement img {
  height: 100px;
  margin-right: 16px;
}

.footer-announcement strong {
  color: #FFFFFF;
  font-size:0.9rem;
  padding-right: 16px;
}

.footer-announcement a {
  background-color: #ffffff;
  color: #3e6dff;
  border-radius: 16px;
  margin-left: 12px;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 9px;
  text-transform: uppercase;
  vertical-align: 0;
  white-space: pre;
  letter-spacing: .02em;
  transition: .2s background-color,.2s box-shadow;
}

.footer-announcement a:hover {
  background-color: #4788ff;
}
